@import "../base/variables";

/*--------------------FOOTER--------------------*/

footer{
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: footer;
    div{
        ul{
            list-style: none;
            font-family: 'Roboto Condensed', sans-serif;
            @include flex (flex, flex-start, center);
            margin-bottom: 0;
            li{
                margin: 10px;
                a{
                    text-decoration: none;
                    color:$color-secundario;
                    font-weight: 400;
                    transition: .5s;
                    &:hover{
                        color:$color-efectos;
                    }
                }
            }
        }
    }
    .pie-de-pagina{
        width: 90%;
        @include flex (flex, space-between, center);
        border-top: $color-secundario solid 1px;
        div{
            h5{
                font-family: 'Tajawal', sans-serif;
                font-weight: 300;
                font-size: 15px;
                color:$color-secundario;
                span{
                    font-family: 'Barlow Condensed', sans-serif;
                }
            }
        }
        div{
            a{
                img{
                    width: 25px;
                    height: 25px;
                    margin: 10px 0 10px 0;
                }
            }
        }
    }
}